.container-fluid
	section.categories.row
		.col-md-8
			.col-sm-3.category
				h5 Payments
			.col-sm-3.category
				h5 Refunds
			.col-sm-3.category
				h5 Payouts
			.col-sm-3.category
				h5 All
		.col-md-4
			.col-xs-12.chart.category
				h5 Chart
