.container
	section.toolbar.row
		.col-md-4
			h4 Transactions Manager
		.col-md-8
			.row
				.col-sm-1
					button.btn.btn-primary S
				.col-sm-3
					input.form-control(placeholder="date")
				.col-sm-3
					input.form-control(placeholder="curr")
				.col-sm-3
					input.form-control(placeholder="wall")
				.col-sm-2
					button.btn.btn-primary Filter
